<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog Website</title>
    <link rel="stylesheet" href="home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <!-- Header 1 -->
    <div id="header1">
      <div id="phonearea">
        <i class="fa-solid fa-phone"></i>
        <span id="phone">+919513330000</span>
      </div>

      <div id="emailarea">
        <i class="fa-solid fa-envelope-circle-check"></i>
        <span id="emial">lubnasiraz@gmail.com</span>
      </div>
    </div>

    <!-- Header 2 -->
    <div id="header2">
      <i id="logo" class="fa-brands fa-drupal"></i>
      <ul id="ul">
        <a href=""><li class="active">Home</li></a>
        <a href="#secondbox"><li>category</li></a>
        <a href="CreatePost"><li>Create Post</li></a>
        <a href="AllPost"><li>My Post</li></a>
        <a href="#infoarea"><li>Help</li></a>
      </ul>
      <i id="cross" class="fa-solid fa-x"></i>
      <i id="lines" class="fa-solid fa-align-center"></i>
    </div>

    <!-- First Section -->
    <div id="firstbox"></div>
    <div id="secondbox">
      <div class="box" id="box1"></div>
      <div class="box" id="box2"></div>
      <div class="box" id="box3"></div>
    </div>

    <!-- Second section -->
    <div id="infoarea">
      <div id="infopic"></div>
      <div id="howcreate">
        <h1>How to create Post?</h1>
        <p><span>Step:1</span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga atque
          eveniet maiores voluptates nam? Provident quaerat odit reru<br/>
          <span>Step:2</span>
          Fuga atque eveniet maiores voluptates nam? Provident quaerat odit
          rerum eveniet ratione. Lorem ipsum<br />
          <span>Step:3</span>
          Fuga atque eveniet maiores voluptates nam? Provident quaerat odit
          rerum eveniet ratione. Lorem ipsum dolor </p>
        <a href="CreatePost"><button id="createbtn">create Post</button></a>
      </div>
    </div>

    <!-- footer -->
    <footer id="footer">myblog@copyright</footer>

    <script src="toggle.js"></script>
  </body>
</html>